{%  if block.settings.image != blank %}
<div class="el-element el-element-image-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-element-image">
{% if block.settings.link != blank %}
<a href="{{ block.settings.link }}">
{%  endif %}
{% if block.settings.image_mobile != blank %}
  <div class="el-media el-hide-mobile">
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}}   
</div>
  <div class="el-media el-hide-desktop">
 {{ block.settings.image_mobile | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image_mobile.alt,
  widths: '375, 550, 750, 800'
}}   
</div>
{% else %}
  <div class="el-media">
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}} 
</div>
{%  endif %}
{% if block.settings.link != blank %}
</a>
{%  endif %}
</div>
</div>
{% endif %}