 <div class="el-element el-element-faq {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-faq-main">
<div class="el-element-question-{{ block.id }} el-question el-font-{{ block.settings.font_type }}"><span>{{ block.settings.question }}</span></div>
<div class="el-element-answer-{{ block.id }} el-answer el-font-{{ block.settings.font_type_answer }}" style="display:none;">{{ block.settings.answer }}</div>
</div>
</div>