 <div class="el-element el-element-icon-with-text-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-icon-with-text-flex">
<div class="el-element-image">
{%  if block.settings.image != blank %}
{% if block.settings.image_mobile != blank %}
  <div class="el-media el-hide-mobile">
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}}   
</div>
  <div class="el-media el-hide-desktop">
 {{ block.settings.image_mobile | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image_mobile.alt,
  widths: '375, 550, 750, 800'
}}   
</div>
{% else %}
  <div class="el-media">
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}} 
</div>
{%  endif %}
{%  endif %}
{%  if block.settings.liquid != blank %}
<div class="el-media el-svg">
{{ block.settings.liquid }}
</div>
{% endif %}
</div>
<div class="el-element-texts">
{%  if block.settings.title != blank %}
<div class="el-element-title el-font-{{ block.settings.font_type_title }}">{{ block.settings.title }}</div>
{% endif %}
{%  if block.settings.text != blank %}
<div class="el-element-text el-font-{{ block.settings.font_type_text }}">{{ block.settings.text }}</div>
{% endif %}
</div>
</div>
</div>