 <div class="el-element el-element-button-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-element-button">
<a class="el-button el-font-{{ block.settings.font_type }}" href="{{ block.settings.button_link | default:'#' }}">{{ block.settings.button_label }}</a></div>
</div>