 <div class="el-element el-element-scroll-item-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-scroll-item-flex">
{%  if block.settings.image != blank %}
<div class="el-media">
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}} 
</div>
{%  endif %}
{%  if block.settings.liquid != blank %}
<div class="el-media el-svg">
{{ block.settings.liquid }}
</div>
{% endif %}
{%  if block.settings.text != blank %}
<div class="el-element-text el-font-{{ block.settings.font_type }}">{{ block.settings.text }}</div>
{% endif %}
</div>
</div>