 <div class="el-element el-element-richtext-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-element-richtext el-font-{{ block.settings.font_type }}">{{ block.settings.text }}</div>
</div>