{%  assign counter_block = block %}
{% capture slider_config %}
{
  "dots": true,
  "arrows": false,
  "speed": 400,
  "slidesToShow": {{ block.settings.columns_desktop }},
  "slidesToScroll": 1,
  "autoplay": false,
  "infinite": true,
  "cssEase": "linear",
  "responsive": [
    {% if block.settings.disable_desktop %}
    {
      "breakpoint": 9999,
      "settings": "unslick"
    },
    {% endif %}

    {% if block.settings.disable_mobile %}
    {
      "breakpoint": 915,
      "settings": "unslick"
    }
    {% else %}
    {
      "breakpoint": 915,
      "settings": {
        "slidesToShow": {{ block.settings.columns_mobile }},
        "slidesToScroll": 1
      }
    }
    {% endif %}
  ]
}
{% endcapture %}
<div class="el-element el-element-slider-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-slick-slider" data-slider-config='{{ slider_config | strip }}'>
 {%- for block in section.blocks -%} 
            {%- case block.type -%}  
                {%- when 'slide' -%} 
                  {% if counter_block.settings.position != blank %}
                  {% if counter_block.settings.position == block.settings.position %}
                    {%  render 'el-slide', block:block, counter_block:counter_block %} 
                  {%  endif %}
                  {% else %}
                    {%  render 'el-slide', block:block, counter_block:counter_block %} 
                  {%  endif %}
            {%  endcase %}
        {%  endfor %} 
</div>
</div>