<!doctype html>
{% liquid
  comment
    Detect RTL languages and apply RTL direction when enabled
  endcomment
  assign rtl_locales = 'ar,he,fa,ur,sd,ku,dv' | split: ','
  assign is_rtl_locale = false
  if rtl_locales contains request.locale.iso_code
    assign is_rtl_locale = true
  endif
%}
<html
  class="js"
  lang="{{ request.locale.iso_code }}"
  {% if is_rtl_locale %}
    dir="rtl"
  {% else %}
    dir="ltr"
  {% endif %}
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">



    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'el-meta-tags' %}
    {{ content_for_header }}
  {% render "assets_theme" %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
{{ 'el-common.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'el-hp.css' | asset_url | stylesheet_tag: preload: true }}
    {% render "nonFlickerCode" %}
</head>
  <body class="el-hp-body">
      {% sections 'el-header-group-hp' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
      {% sections 'el-footer-group-hp' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="{{ 'el-common.js' | asset_url }}" async="async"></script>
<script src="{{ 'el-hp.js' | asset_url }}" async="async"></script>


  <link rel="preload" href="{{ 'splide.min.js' | asset_url }}" as="script">
    <script src="{{ 'splide.min.js' | asset_url }}"></script>
  </body>
</html>
